
/*
    Reset
*/
html,
body{
    margin: 0;
    padding: 0;
}




/*
    Top wrapper
*/
.top-wrapper{
    width: 100%;
    height: 400px;
    background-color: #424560;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows:  repeat(4, 1fr);
    margin-bottom: 50px;
    
    canvas{
        position: absolute;
        height: 400px !important;
    }

    .icons-wrapper{
        grid-row: 1 / 2;
        text-align: center;
        align-self: center;
        z-index: 2;
        svg{
            margin: 0px 100px 0px 100px;
            color: #d8d8d8;
            outline: none;
            width: 30px;
            height: auto;
            transition: all linear 0.1s;
        }   

        .github:hover{
            color: #4078c0;
        }

        .twitter:hover{
            color: #1dcaff;
        }

        .youtube:hover{
            color: #cc181e;
        }
    }
    .main-text{
        z-index: 2;
        text-align: center;
        grid-column: 1;
        grid-row: 2 / 4;
        font-family: 'Raleway', sans-serif;
        font-size: 50pt;
        align-self: center;
        color: #d8d8d8;
    }

    .last-edited-wrapper{
        z-index: 2;
        font-family: 'Raleway', sans-serif;
        color: rgb(175, 175, 175);
        text-align: center;
        font-size: 12pt;
    }
}


/*
    Posts wrapper
*/
.post-wrapper{
    margin: auto;
    width: 60%;
    height: auto;
    position: relative;
    margin-bottom: 100px;
    font-family: 'Raleway', sans-serif;

    a{
        text-decoration: none;
        color: black;
    }

    .post-date{
        font-weight: lighter;
        color: #7a7a7a;
        svg{
            width: 15px;
            height: auto;
            margin-right: 10px;
        }
    }

    .post-title{
        padding: 0px;
        margin: 5px 0px 5px 0px;
    }

    &:after{
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        bottom: -50px;
        background-color: #dbdbdb;
    }

    &:last-child:after{
        height: 0px;
    }
}



/*
    Single Post
*/
.single-post-wrapper{
    margin: auto;
    width: 60%;
    height: auto;
    margin-bottom: 30px;
    font-family: 'Raleway';
    p{
        line-height: 2;
        font-size: 15pt;
        position: relative;
        
        code{
            position: relative;
            font-size: 14pt;
            font-family: 'Cousine', monospace;
            margin-left: 1px;
            margin-right: 1px;
            &:after{
                position: absolute;
                border-radius: 2px;
                content: '';
                display: block;
                background: rgba(86,86,86,.25);
                left:-2px;
                right: -2px;
                bottom:-1px;
                top: -1px;
            }
        }

        a{
            color: #18289D;
            text-decoration: none;
        }
    }
}



/*
    Footer
*/
.footer-wrapper{
    width: 60%;
    margin: auto;
    position: relative;
    padding-top: 20px;
    font-family: 'Raleway';
    color: #7a7a7a;
    margin-bottom: 30px;
    &:before{
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        top: 0px;
        background-color: #dbdbdb;
    }

    .blog-info{
        a{
            color: #7a7a7a;
        }
    }

    .media-icons{
        float:right;
        svg{
            color: black;
            margin-left: 20px;
            width: 20px;
            height: auto;
            margin-top: -2px;
            transition: all linear 0.1s;
        }
        .github:hover{
            color: #4078c0;
        }

        .twitter:hover{
            color: #1dcaff;
        }

        .youtube:hover{
            color: #cc181e;
        }
    }
}