
/*
    Reset
*/
html,
body{
    margin: 0;
    padding: 0;
}

@import 'variables';



/*
    Top wrapper
*/
.top-wrapper{
    width: 100%;
    height: 400px;
    background-color: #424560;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows:  repeat(4, 1fr);
    margin-bottom: 50px;
    
    canvas{
        position: absolute;
        height: 400px !important;
    }

    .icons-wrapper{
        grid-row: 1 / 2;
        text-align: center;
        align-self: center;
        z-index: 2;
        svg{
            margin: 0px 100px 0px 100px;
            color: #d8d8d8;
            outline: none;
            width: 30px;
            height: auto;
            transition: all linear 0.1s;
        }   

        .github:hover{
            color: #4078c0;
        }

        .twitter:hover{ 
            color: #1dcaff;
        }

        .mail:hover{
            color: #cc181e;
        }

        .home:hover{
            color: #5bff9f;
        }
    }
    .main-text{
        z-index: 2;
        text-align: center;
        grid-column: 1;
        grid-row: 2 / 4;
        font-family: 'Raleway', sans-serif;
        font-size: 50pt;
        align-self: center;
        color: #d8d8d8;
    }

    .last-edited-wrapper{
        z-index: 2;
        font-family: 'Raleway', sans-serif;
        color: rgb(175, 175, 175);
        text-align: center;
        font-size: 12pt;
        transform: translateY(-50px);
    }
}


/*
    Posts wrapper
*/
.post-wrapper{
    margin: auto;
    width: $width;
    height: auto;
    position: relative;
    margin-bottom: 100px;
    font-family: 'Raleway', sans-serif;
    transition: all ease 0.5s;

    a{
        text-decoration: none;
        color: black;
    }

    .post-date{
        font-weight: lighter;
        color: #7a7a7a;
        svg{
            width: 15px;
            height: auto;
            margin-right: 10px;
        }
    }

    .post-title{
        padding: 0px;
        margin: 5px 0px 5px 0px;
    }

    &:after{
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        bottom: -50px;
        background-color: #dbdbdb;
    }

    .post-text{
        line-height: 1.6em;
        color: #262626;
    }

    &:last-child:after{
        height: 0px;
    }


}



/*
    Single Post
*/
.single-post-wrapper{
    margin: auto;
    width: $width;
    height: auto;
    margin-bottom: 30px;
    font-family: 'Raleway';
    transition: all ease 0.5s;

    img{
        box-shadow: 1px 1px 5px #888888;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6{
        color: #262626;
    }

    a{
        color: #18289D;
        text-decoration: none;
    }

    li{
        font-size: 12pt;
        margin-bottom: .5em;
        ul{
            margin-top: .5em;
        }
    }

    p{
        line-height: 1.7em;
        font-size: 15pt;
        position: relative;
        color: #262626;
        
        

        code{
            position: relative;
            font-size: 14pt;
            font-family: 'Cousine', monospace;
            margin-left: 1px;
            margin-right: 1px;
            &:after{
                position: absolute;
                border-radius: 2px;
                content: '';
                display: block;
                background: rgba(86,86,86,.25);
                left:-2px;
                right: -2px;
                bottom:-1px;
                top: -1px;
            }
        }

        

        
    }
}



/*
    Footer
*/
.footer-wrapper{
    width: $width;
    margin: auto;
    position: relative;
    padding-top: 20px;
    font-family: 'Raleway';
    color: #7a7a7a;
    margin-bottom: 30px;
    &:before{
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        top: 0px;
        background-color: #dbdbdb;
    }

    .blog-info{
        float: left;
        transform: translateY(-3px);
        a{
            color: #7a7a7a;
        }
    }
    
    .blog-info-small{
        display: none;
    }

    .media-icons{
        float:right;
        svg{
            color: black;
            margin-left: 20px;
            width: 20px;
            height: auto;
            margin-top: -2px;
            transition: all linear 0.1s;
        }
        .github:hover{
            color: #4078c0;
        }

        .twitter:hover{
            color: #1dcaff;
        }

        .mail:hover{
            color: #cc181e;
        }

        .rss:hover{
            color: #f26522;
        }
    }
}


//Top Button
.top-button-wrapper{
    button{
        position: fixed;
        bottom: 10px;
        right: 10px;
        width: 35px;
        height: 35px;
        color: white;
        border: none;
        z-index: 2;
        transition: all ease 0.5s;
        outline: none;

        &:hover{
            background-color: black !important; 
        }

        &:active{
            transform: translateY(5px);
        }

        &.invisible{
            background-color: rgba(66,69,96,0);   
        }

        &.visible{
            background-color: rgba(66,69,96,0.5);
        }
    }
}



//Disqus
#disqus_thread{
    margin: auto;
    width: $width;

    margin-bottom: 50px;
    margin-top: 50px;



}
@import 'resize.scss';